@charset "UTF-8";

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: red;
    background-color: aqua;
}
h2 {
    color: purple;
}
p {
    color: white;
    text-align: center;
}